{{ $tags := .Site.Taxonomies.tags }}
{{ if $tags }}
<div class="tag-cloud">
    <div class="tag-cloud__title">
        <i class="fas fa-tags"></i>
        <span>标签云</span>
        <span class="tag-cloud__total">({{ len $tags }} 个标签)</span>
    </div>
    <div class="tag-cloud__cloud">
        {{ range $tags.ByCount }}
        {{ $tag := . }}
        {{ $count := len .Pages }}
        {{ $size := add 12 (mul $count 2) }}
        {{ if gt $size 28 }}{{ $size = 28 }}{{ end }}
        <a href="{{ .Permalink }}" class="tag-cloud__tag" style="font-size: {{ $size }}px;">
            <span class="tag-cloud__name">{{ .Title }}</span>
            <span class="tag-cloud__count">{{ $count }}</span>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}
